<strong>Status: {{ givenName ? 'logged in' : 'logged out' }} </strong>
<h1 *ngIf="!givenName">Welcome!</h1>
<h1 *ngIf="givenName">Welcome, {{ givenName }} {{ familyName }}!</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>Login with Code Flow</h2>
    <p>
      <button class="btn btn-default" (click)="loginCode()">Login</button>
      <button class="btn btn-default" (click)="logout()">Logout</button>
    </p>
    <b>Username/Password:</b> alice/alice
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><b>access_token_expiration:</b> {{ access_token_expiration }}</p>
    <p><b>id_token_expiration:</b> {{ id_token_expiration }}</p>
    <p><b>hasValidAccessToken:</b> {{ hasValidAccessToken }}</p>
    <p><b>hasValidIdToken:</b> {{ hasValidIdToken }}</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><b>access_token:</b> {{ access_token }}</p>
    <p><b>id_token:</b> {{ id_token }}</p>
  </div>
</div>